.body
{
    background-color: #d3a8cc; 
}

h1
{
    color: #fff !important;
    text-align: center;
    font-family: comic sans MS !important;
    font-size: 300% !important;
}

p
{
    text-align: center;
    font-family: comic sans MS;
    font-weight: bold; 
}

.first
{
    color: #0d326c;
}

.middle
{
    color: #00acd7;
}

.last
{
    color: #ffea4d;
}
  
ul 
{
    margin-left: 17%;
    margin-right: 25%; 
}
  
  /* Style the list items */
ul li 
{
    cursor: pointer;
    position: relative;
    padding: 1.3% 1% 1.3% 3%;
    background: #eee;
    font-size: 120%;
    font-family: comic sans MS;
    transition: 0.2s;
    list-style: none;
    margin-top: 2%;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

  /* Darker background-color on hover */
ul li:hover 
{
    background: #ddd;
}
  
  /* When clicked on, add a background color and strike out text */
ul li.checked 
{
    background: rgb(0, 173, 0);
    color: #fff;
}
  
  /* Add a "checked" mark when clicked on */
ul li.checked::before 
{
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0% 0.5% 0.5% 0%;
}
  
  /* Style the close button */
.close 
{
    position: absolute;
    right: 0%;
    top: 0%;
    padding: 1.6% 1.5% 1.6% 1.5%;
}
  
.close:hover 
{
    background-color: #f44336;
    color: white;
}
  
  /* Style the header */
.header 
{
    margin-left: 19.5%;
    margin-right: 15%;
    color: white;
    text-align: center;
} 
  
  /* Clear floats after the header */
.header:after 
{
    content: "";
    display: table;
    clear: both;
} 
  
  /* Style the input */
input 
{
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 1%;
    float: left;
    font-size: 100%;
    font-family: comic sans MS !important;
}
  
  /* Style the "Add" button */
.addBtn 
{
    width: 13%;
    height: 50%;
    padding: 1%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 100%;
    font-family: comic sans MS;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}
  
.addBtn:hover 
{
    background-color: #bbb;
}
