/*style the body*/
body
{
    /* background: #0e899b !important; */
    background-image: radial-gradient(circle, #fff, #0e899b) !important;
}
/*tsyle the calculator body*/
.calc
{
    background: #1e1e1e;
    width: auto;
    max-width: 30%;
    margin-left: 35%;
    padding: 0.3%;
    margin-top: 10%
}

/*style the calculator screen*/
.view
{
    background: #fff;
    margin-top: 3%;
    padding: 3%;
    border: 1px solid #000;
    width: 98%;
    margin-left: 1%;
}

.b
{
    margin: 1%;
    width: auto;
    padding: 1% 10% 0% 8% !important;
    max-width: 20%;
    background: #9e9e9e !important;
    color: #fff !important;
    border: #9e9e9e !important;
    font-weight: bold;
    border-radius: 5px; 
    cursor: pointer;
    transition: 0.2s;
}

.b:hover
{
    background: #747474 !important;
    border: #747474 !important;
}

.operator
{
    float: right;
    width: 30% !important;
}

.last
{
    margin-bottom: 10%;
}

.copy
{
    background: #333;
    width: 100%;
    text-align: center;
    margin-top: 9%;
    margin-bottom: 1%;
    padding: 0.5%;
    color: #fff;
}