body
{
    background: linear-gradient(to right , #fff , #d6e6fd);
}

/*style the header div*/
.sign-in
{
    background: #3c579a;
    width: 100%;
    margin-left: -0.1% !important;
}

.log-in
{
    margin-left: 50%;
    margin-top: -4%
}

/*style the username and password*/
.user
{
    margin-left: 30%;
    color: #fff;
}

.user-in
{
    margin-left: 30%;
    height: 25px;
}

.pass
{
    margin-left: 12%;
    color: #fff;
}

.pass-in
{
    margin-left: 2%;
    height: 25px;
}

.forget
{
    margin-left: 57%;
    color: #8d9bc2;
}

.forget:hover
{
    color: #8d9bc2 !important;
}

.log
{
    height: 30px;
    margin-left: 2%;
    padding: 0.3% 1% 1.3% 1% !important;
    margin-top: -1%;
    background: #4466ae !important;
    border: #4466ae !important;
    border-radius: 0% !important;
    transition: 0.2s; 
}

.log:hover
{
    background: #2f4679 !important
}

/*style facebook slogan*/
.face
{
    margin-left: 10%;
    padding-top: 1%;
    font-size: 250% !important;
    color: #fff;
    font-weight: bold; 
    cursor: pointer;
}

/*style the left side*/
.par-1
{
    font-size: 150%;
    color: #0e385f;
    font-weight: bold;
    margin-top: 10%; 
}

img
{
    width: 100%;
}

/*style the right side*/
.info
{
    margin-left: 30%;
}

.create
{
    margin-top: 10%;
    font-size: 200% !important;
    font-weight: bold 
}

.par-2
{
    font-size: 120%;
}

.name
{
    height: 40px;
}

.email
{
    height: 40px;
    width: 97%;
    margin-top: 3%;
}

.password
{
    height: 40px;
    width: 97%;
    margin-top: 3%;
}

.birth
{
    margin-top: 5%;
    font-size: 140%;
    font-weight: bold;
    color: #90949c; 
}

.g
{
    font-size: 130%;
}

.r
{
    margin-left: 5%;
}

.par-3
{
    font-size: 85%;
    color: #777777;
}

.TDC
{
    color: #385898 !important;
}

.sign
{
    width: 60%;
    background: #5d974a !important;
    border: #5d974a !important;
}

.sign:hover
{
    background: #73b95b !important;
    border: #73b95b !important;
}